{{define "title"}}Change Password{{end}}

{{define "main"}}
    <h2>Change Password</h2>

    <form action='/account/password/update' method='POST' novalidate>
           
        <div>
            <label>Current password:</label>
            <input type='text' name='current'>
        </div>

        <div>
            <label>New password:</label>
            <input type='text' name='new'>
        </div>

        <div>
            <label>Confirm new password:</label>
            <input type='text' name='confirm'>
        </div>
        
        <div>
            <input type='submit' value='Change Password'>
        </div>
    </form>
{{end}}
